---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "2025 - 3 meses",
    title: "Junior Full-Stack Developer (Prácticas)",
    company: "Gainkode",
    description:
      "Documentación de APIs con Swagger/OpenAPI 3.0, implementación de pruebas automatizadas de endpoints con Schemathesis y configuración de CI/CD con GitHub Actions junto a despliegues con Docker, con colaboración en revisiones de código y buenas prácticas.",
    //link: "https://github.com/JABejaranoVela/PorfolioJABejarano",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
