---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "2025 - 3 meses",
    title: "Junior Full-Stack Developer (Prácticas)",
    company: "Gainkode",
    description:
      "Documentación de APIs con Swagger/OpenAPI 3.0, automatización de pruebas de endpoints con Schemathesis e integración en CI con GitHub Actions y Docker. Desarrollo de scripts Python para generar informes Allure y enviar resúmenes a Slack, con colaboración en revisiones de código y buenas prácticas.",
    //link: "https://github.com/JABejaranoVela/PorfolioJABejarano",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
